.navbar-custom {
    background-color: #BE1819;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s, top 0.3s;
    min-height: 80px;
    position: fixed;
    width: 100%;
    top: -100px; // Initially hidden
    z-index: 1000;

    &.visible {
        top: 0; // Visible when scrolled
    }

    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        font-family: $font-family;
    }

    .nav-link {
        margin: 0 10px;
        transition: color 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }

    .dropdown-menu {
        background-color: $primary-color;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .dropdown-item {
            color: $text-color;

            &:hover {
                background-color: white;
                color: $primary-color;
            }
        }
    }

    .navbar-toggler {
        border-color: $text-color;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}