.navbar-custom {
    background-color: #BE1819;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s, top 0.3s;
    min-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-custom.visible {
    top: 0;
}

.navbar-custom .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe Script';
}

.navbar-custom .nav-link {
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #d5ceca;
}

.navbar-custom .dropdown-menu {
    background-color:#BE1819;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-custom .dropdown-menu .dropdown-item {
    color: white;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    background-color: white;
    color: #BE1819;
}

.navbar-custom .navbar-toggler {
    border-color: white;
}

.navbar-custom .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Footer Styles */
.footer {
    background-color: #BE1819;
    color: white;
    padding: 20px 0;
    bottom: 0px;
  }
  .footer .insta {
    color: white;
    height: 30px;
  }
  @media (max-width: 767.98px) {
    .footer .insta {
      height: 20px;
    }
  }
  .footer h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  @media (max-width: 767.98px) {
    .footer h5 {
      font-size: 1rem;
    }
  }
  .footer p {
    margin-bottom: 10px;
  }
  @media (max-width: 767.98px) {
    .footer p {
      font-size: 0.9rem;
    }
  }
  .footer a {
    color: white;
    transition: color 0.3s;
  }
  .footer a:hover {
    color: #d5ceca;
  }
  .footer .fab {
    font-size: 1.5rem;
  }
  @media (max-width: 767.98px) {
    .footer .fab {
      font-size: 1.2rem;
    }
  }