$primary-color: #BE1819;
$secondary-color: #d5ceca;
$text-color: white;
$font-family: 'Segoe Script', cursive;

body {
    background-color: #f8f9fa;
}
/* Navbar Styles */
.navbar-custom {
    background-color: #BE1819;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s, top 0.3s;
    min-height: 80px;
    position: fixed;
    width: 100%;
    top: -100px; // Initially hidden
    z-index: 1000;

    &.visible {
        top: 0; // Visible when scrolled
    }

    .navbar-brand {
        font-size: 2rem;
        font-weight: bold;
        font-family: $font-family;
    }

    .nav-link {
        margin: 0 10px;
        transition: color 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }

    .dropdown-menu {
        background-color: $primary-color;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .dropdown-item {
            color: $text-color;

            &:hover {
                background-color: white;
                color: $primary-color;
            }
        }
    }

    .navbar-toggler {
        border-color: $text-color;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}

/* Hero Section Styles */
.hero-section {
    position: relative;
    height: 100vh; // Full viewport height
    overflow: hidden;

    .bg-image {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(5px);
        z-index: -1;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }

    .hero-content {
        position: relative;
        z-index: 1;
        padding: 20px;

        h1 {
            font-family: 'Segoe Script', cursive !important;
            font-size: 10rem;
            color: white;
    
            @media (max-width: 767.98px) {
                font-size: 3rem;
            }
    
            @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 4rem;
            }
        }

        h4 {
            font-size: 1.5rem;

            @media (max-width: 767.98px) {
                font-size: 2rem;
            }

            @media (min-width: 992px) {
                font-size: 2rem;
            }
        }

        .btn {
            font-size: 1rem;

            @media (min-width: 768px) {
                font-size: 1.25rem;
            }

            @media (min-width: 992px) {
                font-size: 1.5rem;
            }
        }
    }
}

/* Wrapper Styles */
.wrapper {
    color: $primary-color;
    padding: 140px 100px 200px 100px;

    @media (max-width: 767.98px) {
        padding: 80px 20px 100px 20px;
    }

    h1 {
        font-family: 'Segoe Script', cursive !important;
        font-size: 4rem;

        @media (max-width: 767.98px) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 2rem;

        @media (max-width: 767.98px) {
            font-size: 1.5rem;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 500;

        @media (max-width: 767.98px) {
            font-size: 1rem;
        }
    }

    a {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;

        &:hover {
            background-color: $primary-color;
            color: $text-color;
            transform: scale(1.1);
        }

        @media (max-width: 767.98px) {
            padding: 15px;
        }
    }
}

/* Wrapper2 Styles */
.wrapper2 {
    padding: 40px;
    margin: 50px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 767.98px) {
        padding: 20px;
        margin: 20px;
    }
}

/* Infos Styles */
.infos {
    background-color: $primary-color;
    color: $text-color;
    padding: 80px 100px 80px 100px;

    @media (max-width: 767.98px) {
        padding: 40px 20px;
    }

    .row3 {
        text-align: center;
    }

    /* Iframe Styles */
iframe {
    border: 2px solid $secondary-color;
    border-radius: 20px;
    width: 80%;
    height: 300px;
    max-width: 800px;
    margin: 20px auto;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 767.98px) {
        width: 100%;
        height: 200px;
    }
}

/* Öffnungszeiten Styles */
    .öffnungszeiten {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin-top: 50px;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;

        &:hover {
            background-color: $primary-color;
            color: white;
            transform: scale(1.1);
        }

        @media (max-width: 767.98px) {
            padding: 15px;
        }
    }

    /* Kontakt Styles */
    .kontakt {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin-top: 50px;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;

        &:hover {
            background-color: $primary-color;
            color: white;
            transform: scale(1.1);
        }

        @media (max-width: 767.98px) {
            padding: 15px;
        }
    }
}

/* Footer Styles */
.footer {
    background-color: $primary-color;
    color: $text-color;
    padding: 20px 0;

    .insta {
        color: white;
        height: 30px;
    
        @media (max-width: 767.98px) {
            height: 20px;
        }
    }

    h5 {
        font-size: 1.25rem;
        margin-bottom: 15px;

        @media (max-width: 767.98px) {
            font-size: 1rem;
        }
    }

    p {
        margin-bottom: 10px;

        @media (max-width: 767.98px) {
            font-size: 0.9rem;
        }
    }

    a {
        color: $text-color;
        transition: color 0.3s;

        &:hover {
            color: $secondary-color;
        }
    }

    .fab {
        font-size: 1.5rem;

        @media (max-width: 767.98px) {
            font-size: 1.2rem;
        }
    }
}




.info-text-1 {
    font-size: 1.2rem;

    @media (max-width: 767.98px) {
        font-size: 1rem;
    }
}

/* Image Styles */
.selfie {
    border: 2px solid $secondary-color;
    border-radius: 50%;
    margin: 20px auto;
    height: 300px;
    display: block;

    @media (max-width: 767.98px) {
        height: 200px;
    }
}

.img1 {
    border: 2px solid $secondary-color;
    width: 100%;
    height: auto;
    max-width: 650px;

    @media (max-width: 767.98px) {
        max-width: 100%;
    }
}

/* Row Styles */
.row1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;

    @media (max-width: 767.98px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.row2 {
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* Button Styles */
.primary {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 270px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    &:hover {
        background-color: $primary-color;
        color: $text-color;
        transform: scale(1.1);
    }

    @media (max-width: 959.98px) { // Bootstrap lg breakpoint
        width: 150px;
        padding: 15px;
    }
}

.secondary {
    background-color: $primary-color;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    width: 250px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    &:hover {
        background-color: $primary-color;
        color: white;
        transform: scale(1.1);
    }

    @media (max-width: 767.98px) {
        width: 200px;
        padding: 15px;
    }
}


/* Mode Styles */
.mode {
    height: 100vh;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        font-family: 'Segoe Script', cursive !important;

        @media (max-width: 767.98px) {
            font-size: 2rem;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    p {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: 85px;
        padding-left: 300px;
        padding-right: 300px;

        @media (max-width: 767.98px) {
            font-size: 1.2rem;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    /* Marquee Styles */
    .marquee-container {
        width: 100%;

        .marquee-content {
            display: flex;
            width: max-content;
            animation: marquee 25s linear infinite;
        }

        .marquee-item {
            height: 180px;
            margin: 20px;

            @media (max-width: 767.98px) {
                height: 120px;
                margin: 10px;
            }
        }

        .marquee-content:hover {
            animation-play-state: paused;
        }

        .marquee-item:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }

        @keyframes marquee {
            0% {
                transform: translateX(0%);
            }
            100% {
                transform: translateX(-50%);
            }
        }
    }

    .marquee-container2 {
        width: 100%;

        .marquee-content2 {
            display: flex;
            width: max-content;
            animation: marquee-reverse 25s linear infinite;
        }

        .marquee-item2 {
            height: 140px;
            margin: 20px;

            @media (max-width: 767.98px) {
                height: 100px;
                margin: 10px;
            }
        }

        .marquee-content2:hover {
            animation-play-state: paused;
        }

        .marquee-item2:hover {
            transform: scale(1.1);
            transition: transform 0.5s;
        }

        @keyframes marquee-reverse {
            0% {
                transform: translateX(-50%);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;


    .row {
        width: 100%;
        margin-left: 100px;
        margin-right: 100px;

        @media (max-width: 767.98px) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    .card {
        border: 2px solid white;
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%; // Verhindert das Überschreiten der Spaltenbreite
        min-height: 410px; // Stellt sicher, dass die Karten mindestens eine gewisse Höhe haben
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        max-width: 380px;
        
        // Dadurch erhalten alle Karten dieselbe Höhe
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1; // Das stellt sicher, dass die Karte den verbleibenden Raum ausfüllt
        }
    }

    .card-img-top {
        border-radius: 19px 19px 0px 0px;
        object-fit: cover;
        width: 100%;
    }

    .btn {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-color: #BE1819;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;

        &:hover {
            background-color: $primary-color;
            color: white;
            transform: scale(1.1);
        }
    }
}


.cookie-consent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}
.cookie-consent .btn {
    margin-left: 10px;
}
.cookie-consent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    display: none; // Hidden by default

    .cookie-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
            margin-bottom: 10px;
            font-size: 1rem;
        }

        .btn {
            margin: 5px;
            min-width: 150px;
        }
    }
}

// Modal Styles (Optional: Customize if needed)
.modal-content {
    background-color: #f8f9fa;
    color: #343a40;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-title {
    font-size: 1.5rem;
}

@media (max-width: 767.98px) {
    .cookie-consent {
        padding: 10px;
        
        .cookie-container {
            p {
                font-size: 0.9rem;
            }

            .btn {
                min-width: 120px;
                font-size: 0.9rem;
            }
        }
    }

    .modal-title {
        font-size: 1.25rem;
    }
}
/* Scroll-to-Top Button Styles */
#scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    background-color: $primary-color;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    z-index: 1000;
  }
  
  #scrollToTopBtn svg {
    width: 24px;
    height: 24px;
  }
  
  #scrollToTopBtn:hover {
    background-color: $primary-color;
    transform: scale(1.2);
  }
  
  /* Button visibility */
  #scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
  }


  .accordion {
    margin-top: 200px; // Erhöhter Abstand nach oben
    margin-bottom: 200px; // Erhöhter Abstand nach unten
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
/* Bestehende SCSS-Struktur beibehalten */

/* Bestehende SCSS-Struktur beibehalten */

/* Zusätzliche Media Queries zur Vermeidung von Überlappungen */
@media (min-width: 767px) and (max-width: 1050px) {
    .mode {
        padding-bottom: 30px; // Reduzierten Abstand nach unten
    }

    .cards {
        padding-top: 600px; // Reduzierten Abstand nach oben
    }
}
@media (min-width: 1050px) {
    .mode {
        padding-bottom: 30px; // Reduzierten Abstand nach unten
    }

    .cards {
        padding-top: 200px; // Reduzierten Abstand nach oben
    }
}
@media (min-width: 1050px) {
    .mode {
        padding-bottom: 30px; // Reduzierten Abstand nach unten
    }

    .cards {
        padding-top: 200px; // Reduzierten Abstand nach oben
    }
}
